/*
/* HERO IMAGE
/*
/*
/*
*/

#about-hero {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    box-sizing: border-box;
    /*
    padding-left: 25px;
    padding-right: 25px;
*/
}

@media only screen and (min-width: 768px) {
    #about-hero {
        grid-template-columns: 1fr 1fr;
        /*
        padding-left: 30px;
        padding-right: 30px;
*/
    }
}

#about-hero-img {
    background-image: url('../img/hero-about-sm.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

@media only screen and (min-width: 768px) {
    #about-hero-img {
        height: 60vw;
    }
}

@media only screen and (min-width: 1024px) {
    #about-hero-img {
        height: 40vw;
    }
}

/*
/* HERO TEXT
/*
/*
/*
*/

#about-hero-info {
    box-sizing: border-box;
    width: 100%;
}

#about-hero-text {
    padding-bottom: 35px;
}

#about-social-media {
    display: flex;
}

#about-social-media a {
    margin-right: 10px;
}

#about-social-media img {
    width: 35px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#about-social-media img:hover,
#about-social-media img:hover {
    filter: invert(0.65) sepia(1) saturate(2.25) hue-rotate(6deg);
}

@media only screen and (min-width: 768px) {
    #about-hero-info {
        padding: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    #about-hero-info {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1800px) {
    #about-hero-info {
/*
        display: flex;
        justify-content: center;
        align-items: center;
*/
    }
}

/*
/* ABOUT ME
/*
/*
/*
*/

#about-me {
    padding-bottom: 70px;
}

.about-me-column h4 {
    font-size: 28px;
    /*    -webkit-margin-before: 0;*/
    -webkit-margin-after: 0.25em;
}

.about-me-column p {
    font-size: 18px;
    line-height: 1em;
}

/*
.about-me-column:nth-child(3) p:nth-of-type(1) {
    text-decoration: line-through;
}
*/

p.strikethrough {
    text-decoration: line-through;
}

@media only screen and (min-width: 768px) {
    #about-me {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-me-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-me-column h4 {
        font-size: 30px;
    }

    .about-me-column:nth-child(3) p:nth-of-type(1) {
        text-decoration: line-through;
    }

    .about-me-column p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    #about-me {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media only screen and (min-width: 1440px) {
    #about-me {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media only screen and (min-width: 1800px) {
    #about-me {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}

/*
#aboutme-sidenote {
    font-size: 10px;
    color: var(--kelly-grey-light);
    padding-top: 10px;
}
*/
