#about-hero {
    width: 100%;
    height: 85vh;
    background-image: url('../img/hero-about-sm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#about-hero-text {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #about-hero {
        height: 45vh;
        background-image: url('../img/hero-about-lg.jpg');
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        padding-left: 0px;
        padding-right: 0px;
    }
    #about-hero-text {
        width: 40%;
    }
}

@media only screen and (min-width: 1440px) {
    #about-hero {
        height: 85vh;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
    }
    #about-hero-text {
        width: 40%;
    }
}
