body {
    margin: 0;
}

#placeholder {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: auto;
    width: 60vw;
    position: relative;
}

.animated {
    stroke-dashoffset: 0;
    /*    transition: stroke-dashoffset 3.0s ease-in;*/
}

/*
#c,
#n2,
#m {
    animation: hover-letter 2s infinite alternate;
}


@keyframes hover-letter {
    100% {
        transform-origin: center;
        transform: translateY(10px);
    }
}
*/

#star-1,
#star-2 {
    /*    transition: 0.5 linear;*/
    animation: star-move 1s infinite alternate linear;
}

#star-2 {
    animation-delay: 0.5s;
}

@keyframes star-move {
    100% {
        transform-origin: center;
        transform: rotate(1deg);
        /*        transform: translateX(15px);*/
    }
}
