.proj-collab-img {
    display: none;
    position: relative;
    z-index: -1;
    top: -150px;
    left: -240px;
}

.proj-collab-img img {
    position: absolute;
    width: 300px;
}

.proj-collab p:nth-of-type(n):hover + .proj-collab-img {
    display: block;
    opacity: 0.5;
}
