#proj-basis-img-01 {
    background-image: url('../img/basis-01.png');
}

#proj-basis-issuu {
    /*
    padding-left: 200px;
    padding-right: 200px;
*/
}

#proj-basis-issuu div {
    height: 250px;
}

@media only screen and (min-width: 768px) {
    #proj-basis-issuu div {
        height: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-basis-issuu div {
        height: 640px;
    }
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
    #proj-basis-issuu {
        padding-left: 100px;
        padding-right: 100px;
    }
    #proj-basis-issuu div {
        height: 800px;
    }
}

@media only screen and (min-width: 1440px) {
    #proj-basis-issuu {
        padding-left: 200px;
        padding-right: 200px;
    }
}
