/*
/* HERO
/*
/*
/*
*/

#proj-nwirp-img-01 {
    background-image: url('../img/NWIRP-book.jpg');
}

/*
/* LOGO
/*
/*
/*
*/

#proj-nwirp-logo-summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 100px;
}

#proj-nwirp-logo-existing {
    width: 85%;
}

@media only screen and (min-width: 768px) {
    #proj-nwirp-logo-summary div {
        width: 60vw;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-nwirp-logo-summary {
        grid-template-columns: 1fr 1fr;
    }
    #proj-nwirp-logo-summary div {
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
        width: 100%;
    }
}

#proj-nwirp-logo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 80px;
    padding-top: 20px;
    /*    padding-bottom: 80px;*/
}

@media only screen and (min-width: 768px) {
    #proj-nwirp-logo {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-rows: 40vw 25vw;
    }
    #proj-nwirp-logo div {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        background-color: #ececec;
    }
    #proj-nwirp-logo-lg {
        grid-column: 1 / 3;
    }
}

/*
/* BRAND APPLICATION
/*
/*
/*
*/

#proj-nwirp-02 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#proj-nwirp-cap {
    background-image: url('../img/NWIRP-cap.jpg');
}

#proj-nwirp-shirt {
    background-image: url('../img/NWIRP-shirt.jpg');
}

#proj-nwirp-lanyard {
    background-image: url('../img/NWIRP-lanyard.jpg');
}

#proj-nwirp-suite {
    background-image: url('../img/NWIRP-suite.jpg');
}

@media only screen and (min-width: 768px) {
    #proj-nwirp-02 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 30vw 60vw;
        grid-gap: 20px;
    }
    #proj-nwirp-suite {
        grid-column: 1 / 4;
    }
}

@media only screen and (min-width: 768px) and (orientation:portrait) {
    #proj-nwirp-02 {
        grid-auto-rows: 30vw 60vw;
    }
}

@media only screen and (min-width: 1800px) {
    #proj-nwirp-02 {
        grid-auto-rows: 20vw 40vw;
    }
}

/*
/* PRINT COLLATERAL
/*
/*
/*
*/

#proj-nwirp-03 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 80vw 80vw;
    grid-gap: 20px;
}

#proj-nwirp-flyer {
    background-image: url('../img/NWIRP-flyer.png');
    background-size: 140%;
}

#proj-nwirp-rack {
    background-image: url('../img/NWIRP-rack.png');
    background-size: 120%;
}

@media only screen and (min-width: 768px) {
    #proj-nwirp-03 {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 40vw;
    }
    #proj-nwirp-flyer {
        background-size: 150%;
    }
    #proj-nwirp-rack {
        background-size: 110%;
    }
}

/*
/* ISSUU
/*
/*
/*
*/

#proj-nwirp-issuu div {
    height: 250px;
}

@media only screen and (min-width: 768px) {
    #proj-nwirp-issuu div {
        height: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-nwirp-issuu div {
        height: 640px;
    }
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
    #proj-nwirp-issuu {
        padding-left: 100px;
        padding-right: 100px;
    }
    #proj-nwirp-issuu div {
        height: 800px;
    }
}

@media only screen and (min-width: 1440px) {
    #proj-nwirp-issuu {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/*
/* WEBSITE
/*
/*
/*
*/

#proj-nwirp-04 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

#proj-nwirp-04 img {
    display: none;
}

/*
#proj-nwirp-web-old,
#proj-nwirp-web-new {
    background-position: top;
    background-size: contain;
}

#proj-nwirp-web-old {
    background-image: url('../img/NWIRP-web-old.png');
}

#proj-nwirp-web-new {
    background-image: url('../img/NWIRP-web-new.png');
}
*/

@media only screen and (min-width: 768px) {
    #proj-nwirp-04 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #proj-nwirp-04 img {
        display: inline-block;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-nwirp-04 {
        grid-gap: 80px;
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

#proj-nwirp-website-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
