/*
/* LOGO
/*
/*
/*
*/

#proj-imbue-logo-process {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#proj-imbue-logo {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 768px) {
    #proj-imbue-logo-process {
        grid-template-columns: 3fr 2fr;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-imbue-logo-process {
        grid-template-columns: 2fr 1fr;
        grid-gap: 40px;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

/*
/* GOOPS
/*
/*
/*
*/

#proj-imbue-goops {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media only screen and (min-width: 768px) {
    #proj-imbue-goops {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-imbue-goops {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*
/* SOCIAL MEDIA
/*
/*
/*
*/

#proj-imbue-socmed {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 30vw;
}

#proj-imbue-socmed #proj-imbue-insta-full {
    background-image: url('../img/imbue-insta-full.gif');
}

#proj-imbue-socmed #proj-imbue-insta-carousel {
    background-image: url('../img/imbue-insta-carousel.gif');
}

@media only screen and (min-width: 768px) {
    #proj-imbue-socmed {
        grid-template-columns: 1fr 1fr;
    }
}

/*
/* ITEMS
/*
/*
/*
*/

#proj-imbue-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 45vw;
}

#proj-imbue-items #pins {
    background-image: url(../img/imbue-pins.gif);
}

#proj-imbue-items #pillows {
    background-image: url(../img/imbue-pillows.gif);
}

@media only screen and (min-width: 768px) {
    #proj-imbue-items {
        grid-template-columns: 1fr 1fr;
    }
}
