.container-sm {
    background-origin: content-box;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.container-flex {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.container-flex img {
    max-height: 400px;
}

@media only screen and (min-width: 768px) {
    .container-sm {
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 30px;
    }

    .container-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container-4,
    .container-1-1 {
        grid-template-columns: 1fr 1fr;
    }

    #workers-for-workers {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #workers-for-workers img:last-child {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .container-sm {
        padding-left: 140px;
        padding-right: 140px;
        margin-bottom: 50px;
    }

    .container-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .container-2-3 {
        grid-template-columns: 2fr 3fr;
    }

    .container-3-2 {
        grid-template-columns: 3fr 2fr;
    }

    .container-3-2 div:nth-child(1) {
        order: 2;
    }

    .container-3-2 div:nth-child(2) {
        order: 1;
    }

    #workers-for-workers {
        grid-template-columns: repeat(5, 1fr);
    }

    #workers-for-workers img:last-child {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .container-sm {
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 60px;
    }
}
