body {
    padding-top: 120px;
}

.container {
    margin-bottom: 35px;
}

.bg-img-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-bottom: 60px;
    }
}

.proj-summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media only screen and (min-width: 768px) {
    .proj-summary {
        grid-template-columns: 4fr 1fr 1fr;
        grid-gap: 40px;
    }
    .proj-description {
        grid-column: 1 / 4;
    }
    .proj-description h2 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .proj-summary {
        grid-template-columns: 4fr 1fr 1fr;
        grid-gap: 40px;
    }
    .proj-description {
        grid-column: auto;
        width: 100%;
    }
}

.proj-full-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (min-width: 768px) {
    .proj-full-img {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (orientation:landscape) {
    .proj-full-img {
        height: 80vh;
    }
}

@media only screen and (orientation:portrait) {
    .proj-full-img {
        height: 40vh;
    }
}
