#proj-wlm-img-01 {
    background-image: url("../img/wlm/HouseParty2021/proj-wlm-img-01.png");
}

/*
/* INSPIRATION
/*
/*
/*
*/

#wlmhp2021-inspo {
    text-align: center
}

#wlmhp2021-inspo-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

#wlmhp2021-inspo-img div {
    flex: 2 0 30%;
}

@media only screen and (min-width: 768px) {
    #wlmhp2021-inspo-img {
        flex-wrap: nowrap;
        gap: 20px;
    }

    #wlmhp2021-inspo-img div {
        flex: 1;
    }
}

/*
/* PRODUCTION
/*
/*
/*
*/

@media (min-width: 1200px) {
    .masonry {
        column-count: 3;
    }
}
