body {
    padding-top: 120px;
}

.container {
    margin-bottom: 35px;
}

.bg-img-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-landscape {
    height: 70vw;
}

.img-portrait {
    height: 110vw;
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-bottom: 60px;
    }
}

.proj-summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media only screen and (min-width: 768px) {
    .proj-summary {
        grid-template-columns: 4fr 1fr 1fr;
        grid-gap: 40px;
    }
    .proj-description {
        grid-column: 1 / 4;
        max-width: 500px;
    }
    .proj-description h2 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 12px;
    }
    .img-landscape,
    .img-portrait {
        height: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .proj-summary {
        grid-template-columns: 4fr 1fr 1fr;
        grid-gap: 40px;
    }
    .proj-description {
        grid-column: auto;
        width: 90%;
    }
}

@media only screen and (min-width: 1440px) {
    .proj-description {
        width: 65%;
        max-width: 700px;
    }
}

.proj-full-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (min-width: 768px) {
    .proj-full-img {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (orientation:landscape) {
    .proj-full-img {
        height: 60vw;
    }
}

@media only screen and (orientation:portrait) {
    .proj-full-img {
        height: 40vh;
    }
}

/*
/* COLLAB HOVER
/*
/*
/*
*/

.proj-collab-img {
    display: none;
    position: relative;
    z-index: -1;
    top: -150px;
    left: -240px;
}

.proj-collab-img img {
    position: absolute;
    width: 300px;
}

.proj-collab p:nth-of-type(n):hover + .proj-collab-img {
    display: block;
    opacity: 0.5;
}

/*
/* ROLES
/*
/*
/*
*/

.proj-role p {
    color: var(--kelly-grey-light);
}

/*
/* PROJECT NOTES
/*
/*
/*
*/

.proj-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.proj-text div {
    width: 90%;
}

@media only screen and (min-width: 768px) {
    .proj-text {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .proj-text div {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .proj-text {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .proj-text div {
        width: 40%;
        min-width: 600px;
        max-width: 800px;
    }
}


#proj-end {
    display: flex;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

/* Safari 4.0 - 8.0 */

/*
@-webkit-keyframes rotateStar {
    from {
        transform: rotate(-6deg);
    }
    to {
        transform: rotate(6deg);
    }
}

@keyframes rotateStar {
    from {
        transform: rotate(-6deg);
    }
    to {
        transform: rotate(6deg);
    }
}
*/

#proj-end img {
    transition: 1.5s ease-in;
    /*    animation: rotateStar infinite 1.25s alternate linear;*/
}

#proj-end img:hover {
    transform: rotate(360deg);
}

/*
/* PROJECT NAVIGATION
/*
/*
/*
*/

.proj-nav-img {
    width: 100%;
    height: 60vw;
}

#proj-navigation .work-proj-overlay {
    padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    #proj-navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30vw;
        grid-gap: 20px;
    }
    #proj-navigation .work-proj-overlay {
        padding-bottom: 20px;
    }
    .proj-nav-img {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    #proj-navigation {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 20vw;
    }
}

@media only screen and (min-width: 1024px) and (orientation:portrait) {
    #proj-navigation {
        grid-auto-rows: 15vw;
    }
}

@media only screen and (min-width: 1440px) {
    #proj-navigation {
        grid-auto-rows: 20vw;
    }
}

#proj-navigation div {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#proj-navigation div:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#proj-navigation-nwirp {
    background-image: url('../img/work-grid-nwirp.jpg');
}

#proj-navigation-imbue {
    background-image: url('../img/work-grid-imbue.jpg');
}

#proj-navigation-pou {
    background-image: url('../img/work-grid-pou.png');
}

#proj-navigation-basis {
    background-image: url('../img/work-grid-basis-1.png');
}

#proj-navigation-sound-transit {
    background-image: url('../img/work-grid-sound-transit.jpg');
}

#proj-navigation-odyssey {
    background-image: url('../img/work-grid-odyssey.jpg');
    background-size: 190%;
}

#proj-navigation-asam {
    background-image: url('../img/work-grid-asam.png');
}

#proj-navigation-extra {
    background-image: url('../img/extra-mlk.jpg');
}

#proj-navigation .current {
    display: none;
}

#proj-navigation a {
    position: relative;
}

/* PROJ NAVIGATION OVERLAY */

.work-proj-overlay h3 {
    /*    font-family: 'futura-pt-bold', sans-serif;*/
    font-weight: 600;
    font-size: 20px;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .work-proj-overlay {
        padding: 5px;
    }
    #proj-navigation a:hover .work-proj-overlay {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .work-proj-overlay {
        padding: 20px;
    }
}
