body {
    --kelly-yellow: rgb(255, 212, 124);
    --kelly-yellow-clear: rgba(255, 212, 124, 0.5);
    /*--kelly-yellow: #ffd47c;*/
    --kelly-grey: #414042;
}

body,
p {
    margin: 0px;
}

h2 {
    font-family: "futura-pt-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 40px;
}

/*
/* Hero
/*
/*
*/

#hero {
    margin-top: 100px;
    height: 40vh;
    background-color: green;
}

#hero-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-message h2 {
    color: var(--kelly-grey);
}

/*
/* Work
/*
/*
*/

#work-grid {
    display: flex;
    flex-wrap: wrap;
}

.work-proj {
    height: 400px;
    flex-grow: 1;
    flex-basis: 290px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-proj#imbue {
    background-image: url('../img/work-grid-imbue.jpg');
}

.work-proj#nwirp {
    background-image: url('../img/work-grid-nwirp.jpg');
}

.work-proj-overlay {
    display: none;
    background-color: var(--kelly-yellow-clear);
    height: 100%;
    width: 100%;
    transition: .5s ease;
}

.work-proj#nwirp:hover .work-proj-overlay {
    display: block;
}

.work-proj#pou {
    background-image: url('../img/work-grid-pou.png');
}

.work-proj#basis {
    background-image: url('../img/work-grid-basis-1.png');
}

.work-proj#sound-transit {
    background-color: blue;
    /*TEMP*/
}

.work-proj#odyssey {
    background-color: forestgreen;
    /*TEMP*/
}

.work-proj#asam {
    background-color: yellow;
    /*TEMP*/
}

.work-proj#extra {
    background-color: purple;
    /*TEMP*/
}

#footer {
    height: 200px;
    background-color: aqua;
    /*TEMP*/
}
