body {
    --kelly-yellow: rgb(255, 212, 124);
    --kelly-yellow-clear: rgba(255, 212, 124, 0.92);
    /*--kelly-yellow: #ffd47c;*/
    --kelly-grey: #414042;
    --kelly-grey-light: #818083;
}

body {
    padding-top: 100px;
    cursor: url(../img/cursor-10.png), auto;
}

/*
/* LOADING
/*
/*
/*
*/

@keyframes bounce {
    from {
        top: -0.5vw;
    }
    to {
        top: 0.5vw;
    }
}

#loading {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 100px;
}

#loading p {
    text-align: center;
    text-transform: uppercase;
    color: var(--kelly-grey);
    font-family: 'futura-pt-bold', sans-serif;
    letter-spacing: 0.15em;
    font-size: 20px;
}

#loading img {
    position: relative;
    animation: bounce 1s infinite alternate;
}

/*
/* GENERAL STYLING
/*
/*
/*
*/

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a.text-link {
    border-bottom: 1.5px solid var(--kelly-yellow);
}

a:hover {
    cursor: url(../img/cursor-11.png) 15.5 16.5, auto;
    /*    cursor: url(../img/cursor-10.png), auto;*/
}

/*
a:hover {
    background: url('../img/highlight-1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
*/

a,
a:visited {
    color: var(--kelly-grey-light);
}

.logo:hover,
#footer p:hover {
    cursor: url(../img/cursor-09.png) 0 46.5, auto;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection {
    background: var(--kelly-yellow);
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
p::-moz-selection {
    background: var(--kelly-yellow);
}

body,
p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    color: var(--kelly-grey);
}

h1,
h2 {
    font-family: 'futura-pt-bold', sans-serif;
    letter-spacing: 0.15em;
}

h2.proj-name,
h3,
h4,
h5 {
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: 500;
}

p {
    font-family: 'Lato', sans-serif;
    color: var(--kelly-grey);
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    margin-bottom: 11px;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1800px) {
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

.website-button {
    height: 50px;
    width: 300px;
}

.website-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 3px solid var(--kelly-yellow);
    color: var(--kelly-yellow);
    transition: 0.5s ease-in-out;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;
    font-weight: 600;
    letter-spacing: .2em;
}

.website-button:hover a {
    background-color: var(--kelly-yellow);
    color: white;
}


/*
/* Hero
/*
/*
*/

#hero {
    height: 40vh;
    /*    background-color: green;*/
}

#hero-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    /*    flex-wrap:wrap;*/
}

#hero-message h2 {
    color: var(--kelly-grey);
    -webkit-margin-after: 0;
}

#hero-message h3 {
    font-weight: 400;
    letter-spacing: 0.25em;
    color: var(--kelly-grey-light);
}

@media only screen and (max-width: 768px) {
    #hero-message h2 {
        font-size: 32px;
    }
    #hero-message h2,
    #hero-message h3 {
        text-align: center;
    }
}

/*
/* Work
/*
/*
*/

#work {
    padding: 25px;
}

/* general structure for portfolio grid */

#work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60vw;
    grid-gap: 50px;
}

/* clickable container for each project */

#work-grid a {
    position: relative;
}

@media only screen and (min-width: 768px) {
    #work {
        padding: 30px;
    }
    #work-grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw;
        grid-gap: 20px;
    }
}

@media only screen and (min-width: 1800px) {
    #work {
        padding: 100px;
    }
    #work-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 20vw;
    }
}

.work-proj {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease;
    overflow: hidden;
}

.work-proj-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.work-proj-overlay p {
    color: var(--kelly-grey-light);
}

.work-proj-overlay h3 {
    /*    font-family: 'futura-pt-bold', sans-serif;*/
    font-weight: 600;
    font-size: 18px;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .work-proj-overlay {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 30px;
        opacity: 0;
        background-color: var(--kelly-yellow-clear);
    }
    #work-grid a:hover .work-proj-overlay {
        opacity: 1;
    }
    .work-proj-overlay h3 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1024px) {
    .work-proj-overlay {
        padding: 70px;
    }
    .work-proj-overlay h3 {
        font-size: 30px;
    }
}

.work-proj#nwirp {
    background-image: url('../img/work-grid-nwirp.png');
    background-size: 70%;
    background-color: #ececec;
}

.work-proj#imbue {
    background-image: url('../img/work-grid-imbue.jpg');
}

.work-proj#pou {
    background-image: url('../img/work-grid-pou.png');
}

.work-proj#basis {
    background-image: url('../img/work-grid-basis-1.png');
}

.work-proj#sound-transit {
    background-image: url('../img/work-grid-sound-transit.jpg');
    background-size: 125%;
}

/*
.work-proj#sound-transit {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 70% 30%;
    grid-gap: 25px;
    grid-row-gap: 6%;
    grid-column-gap: 3.75%;
    box-sizing: border-box;
}

.work-proj#sound-transit div {
    background-color: #ececec;
}

.work-proj#sound-transit div:nth-child(2) {
    background-color: #386fb5;
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/work-grid-sound-transit.png');
    background-repeat: no-repeat;
    background-size: 75%;
    padding: 20px;
    background-position: 75% 10%;
}
*/

.work-proj#odyssey {
    background-image: url('../img/work-grid-odyssey.jpg');
    background-size: 180%;
}

.work-proj#asam {
    background-image: url('../img/work-grid-asam.png');
}

.work-proj#extra {
    background-image: url('../img/extra-mlk.jpg');
}

/*
/* SCROLL TOP
/*
/*
/*
*/

#button-scroll-top {
    display: none;
    opacity: 0.75;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#button-scroll-top img:nth-of-type(2) {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 5px;
    z-index: -1;
}

#button-scroll-top:hover img:nth-of-type(2) {
    opacity: 1;
}

/*
/* FOOTER
/*
/*
/*
*/

#footer {
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

#footer h4,
#footer h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#footer h5 {
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: var(--kelly-yellow);
}

#footer p {
    padding-top: 20px;
    padding-bottom: 40px;
}
