.logo, .name {
    width: 100%;
}

.row {
    position: relative;
}

.name {
    margin-top: 10%;
    margin-left: 20%;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 15vw;
    width: 80%;
    text-align: center;
}

.logo {
    border-radius: 1500px;
    margin-top: 25%;
    margin-bottom: 30%;
    margin-left: 20%;
    width: 23vw;
}

.banner {
    width: 100%;
    position: absolute;
}

.navbar {
    border-radius: 0px !important;
    width:100%;
    color: darkslategrey;
}

.navbar-nav {
  display: table;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li {
    display:table-cell;
    text-align:center;
}

.bookimg {
    width: 200px;
}

.page {
    width: 100%;
}

.pagecontent {
    display:block;
    margin: 0 auto;
    float:none;
}

body {
    font-family: "Liberation Mono", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: green;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}