/* HERO */
.hero {
    background-image: linear-gradient(rgba(30, 30, 50, 0.3), rgba(20, 40, 70, 0.8)), url("../img/about-hero.jpg");
    background-position: 85% 100%;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .hero {
        background-position: center, 0% 45%;
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        background-image: url("../img/about-bg.svg"), linear-gradient(rgba(30, 30, 50, 0.3), rgba(20, 40, 70, 0.8)), url("../img/about-hero.jpg");
        background-position: 0% 100%, center, 0% 45%;
    }
}

/* VALUES */

.value {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.border-grey {
    height: 60%;
    width: 99%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.summary .content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.summary .divider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.value img {
    width: 70%;
    display: block;
}

.cta {
    background-image: url("../img/about-cta-bg.svg"), url("../img/gradient.png");
}

@media only screen and (min-width: 768px) {
    .value {
        padding-top: 0;
        width: 32%;
    }

    .value img {
        width: 50%;
    }

    .border-grey {
        height: 75%;
    }
}
