body {
    background-image: url("../img/contact-bg.svg"), url('../img/gradient.png');
    background-size: 500%, cover;
    background-position: 95% 100%, bottom;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
    body {
        background-size: cover, cover;
        background-position: 50% 0%, bottom;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-size: cover, cover;
        background-position: 50% 0%, bottom;
    }
}

.container-fluid {
    min-height: 100vh;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 0;
}

.address {
    margin-top: 25px;
    margin-bottom: 20px;
}

.email {
    margin-bottom: 45px;
}

.address p,
.email p {
    margin: 0;
}

@media only screen and (max-width: 411px) {

    .address p,
    .email p {
        font-size: 5vw;
    }
}

#footer-social-media img {
    filter: invert(1.0);
}
