/* HERO */

.hero {
    background-image: linear-gradient(rgba(20, 35, 80, 0.4), rgba(20, 30, 60, 0.9)), url('../img/home-hero.jpeg');
    background-size: cover;
    background-position: 60% 0%;
}

@media screen and (min-width: 768px) {
    .hero {
        background-position: 0% 10%;
    }
}

/* PAGE LINKS */

.makers-doers h3 {
    font-size: 30px;
}

.makers-doers h3 span {
    font-weight: 300;
}

.makers-doers button {
    margin-top: 25px;
}

.makers-doers {
    /*    margin-bottom: 25px;*/
}

@media screen and (min-width: 1024px) {
    .makers-doers h3 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1400px) {
    .makers-doers h3 {
        font-size: 3em;
    }
}

/* RECENT NEWS */

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    align-content: center;
}

.news .border-grey {
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: -1;
}

.news p {
    font-size: 20px;
    order: 1;
    /*    white-space: nowrap;*/
    max-width: 500px;
}

.news img {
    width: 25%;
    padding-bottom: 25px;
    max-width: 100px;
}

.news-star {
    display: block;
}

@media screen and (min-width: 768px) {
    .news {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .news p {
        font-size: 22px;
        order: 0;
    }

    .news img {
        width: auto;
        padding-bottom: 0;
    }

    .news-star {
        display: none;
    }
}

/* CTA */

.cta {
    background-image: url("../img/home-cta-bg.svg"), url("../img/gradient.png");
    background-position: bottom, bottom;
}
