.quote_container {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ericka_hart {
    background-image: url("../img/ericka1.jpg");
}

#angela_davis {
    background-image: url("../img/angela1.jpg");
}