body {
    --material_grey: #212121;
    --material_blue: #40C4FF;
    --material_blue_clear: rgba(64, 196, 255, 0.1);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 20px;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 500px 500px 400px 400px 400px 100px auto auto;
}

.hero {
    height: 100vh;
    grid-column: 1/7;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/REI_1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.hero img {
    width: 140px;
}

.hero .text {
    border-left: 10px solid white;
    padding-left: 40px;
    margin-left: 50px;
    width: 50%;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.hero h2 {
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 700;
}

.image1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/REI_4.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
}

.image1_text {
    grid-column: 5/7;
    background-color: black;
    padding: 70px;
}

.image2_text {
    grid-column: 1/5;
    background-color: black;
    padding: 70px;
}

.image2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/REI_5.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    grid-column: 5/7;
}

.fw {
    grid-column: 1/7;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/REI_8.jpg);
    padding: 80px 250px;
}

h3 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.map {
    grid-column: 1/7;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mapdiv {
    grid-column: 1/7;
}

.mapdiv img {
    width: 100%;
}

.together {
    grid-column: 1/7;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/REI_2.jpg);
    display: flex;
    justify-content: center;
}

.together h3 {
    margin-top: 250px;
}
