/* Mobile screens */

@media only screen and (min-width: 320px) {
    .container-margin {
        /*    padding: 0px 140px;*/
    }
    .culture-header .header-full {
        margin: 100px 20px 20px;
    }
    .header-full h2 {
        font-weight: 700;
        text-decoration: underline wavy var(--basis_red);
    }
    /* Navigation */
    .sticky {
        /*        background-color: var(--basis_red);*/
        background-color: rgba(242, 99, 103, 0.9);
    }
    nav a {
        color: black;
    }
    nav li:nth-child(1) a {
        color: white;
    }
    nav li:nth-child(1) a:hover {
        color: white;
    }
    .culture-header {
        background-color: var(--basis_red);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    .culture-header .container-margin {
        grid-column: span 12;
    }
    /* SEARCH */
    .search-toggle::before {
        border: 2px solid black;
    }
    .search-toggle::after {
        background: black;
    }
    /* Articles */
    .article {
        grid-column: span 12;
        grid-row: span 1;
    }
    .article h4 a {
        /*        text-decoration-style: wavy;*/
        color: black;
        transition: color .5s;
    }
    .article h4 a:hover {
        color: var(--basis_red);
        transition: color .25s;
    }
    .article-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 240px;
        /*
        background-color: white;
        background-blend-mode: multiply;
        transition: background-color .5s;
*/
        border-bottom: 0px var(--basis_red) solid;
        transition: border-bottom .25s;
    }
    .article-image {
        grid-row: span 1;
    }
    .article-image:hover {
        /*
        background-color: var(--basis_red);
        transition: background-color .5s;
*/
        border-bottom: 12px var(--basis_red) solid;
        transition: border-bottom .5s;
    }
    /*
    .article-image:hover:after {
        content: "\a0";
        display: block;
        height: 230px;
        border: 5px var(--basis_red) solid;
        transition: border .5s;
    }
*/
    .article-1,
    .article-2,
    .article-3,
    .article-4,
    .article-5,
    .article-6 {
        background-color: white;
        order: 1;
        height: auto;
    }
    .article-1 .article-image {
        background-image: url("https://static1.squarespace.com/static/556ea5c8e4b081da85e406c7/t/576b8a7a440243decaa4a9c6/1466665633799/Powerful+Stories_Mark+Conlan?format=1000w");
        background-position: top;
    }
    .article-2 .article-image {
        background-image: url("https://media.vanityfair.com/photos/572382c0c53fec9b76cb4c78/master/pass/t-James-Baldwin-Giovannis-Room.jpg");
    }
    .article-3 .article-image {
        background-image: url(../img/category/insecure.jpg);
    }
    .article-4 .article-image {
        background-image: url(../img/category/monsters.jpg);
    }
    .article-5 .article-image {
        background-image: url("http://www.backgroundhdwallpapers.com/wp-content/uploads/2017/08/V-for-Vendetta-Art-HD-Wallpapers.jpg");
    }
    .article-6 .article-image {
        background-image: url("https://rightsinfo.org/app/uploads/2015/10/Screen-Shot-2015-10-14-at-09.15.22.png");
    }
    .article-7 .article-image {
        background-image: url(../img/climate_chage.png);
    }
    /* Recommendations */
    .category-recommendation-section {
        grid-auto-rows: auto;
    }
    .category-recommendations-header {
        color: white;
        margin: 60px 0px 40px;
        text-decoration: wavy underline var(--basis_red);
    }
    .category-recommendation-section .layer-1 {
        background-color: var(--basis_red);
        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
        -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
    }
    .category-recommendation-section .layer-2 {
        background-color: black;
        -webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0% 100%);
        clip-path: polygon(0 0, 100% 2%, 100% 98%, 0% 100%);
        padding: 0px 20px 150px;
    }
    .category-recommendation-section .layer-1 {
        min-height: 800px;
        height: auto;
    }
    .category-recommendation-section .layer-2 {
        min-height: 900px;
        height: auto;
    }
    .category-recommendation-section .container-margin {
        grid-column: span 12;
    }
    .category-recommendations {
        grid-column: span 12;
        border: 10px var(--basis_red) solid;
        margin: 10px 0px;
    }
    .category-recommendations-header h4 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 36px;
        font-weight: 400;
    }
    .category-recommendations-background,
    .category-recommendations-image {
        height: 260px;
        width: 180px;
    }
    .category-recommendations-background {
        background-color: var(--basis_red);
        position: absolute;
        margin-top: 20px;
        margin-left: -20px;
        z-index: -1;
    }
    .category-recommendations-image {
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.5s;
    }
    a .category-recommendations-image:hover {
        -moz-transform: translate(5px, -5px);
        -ms-transform: translate(5px, -5px);
        -o-transform: translate(5px, -5px);
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
        transition: 0.5s;
    }
    .category-recommendations-image-1 {
        background-image: url("https://images-na.ssl-images-amazon.com/images/I/71Ew4KATtbL.jpg");
    }
    .category-recommendations-image-2 {
        background-image: url("https://images.gr-assets.com/books/1222383663l/12617.jpg");
    }
    .category-recommendations-image-3 {
        background-image: url("http://www.joblo.com/posters/images/full/moonlight-poster-lg.jpg");
    }
    .category-recommendations-text {
        width: 100%;
        margin: 30px 0px 0px;
        color: white;
    }
    .category-recommendations-text h5 a {
        font-size: 18px;
        font-weight: 700;
        color: white;
    }
    .category-recommendations-text h5:hover a {
        text-decoration: underline white;
    }
    .category-recommendations-text p.article-author {
        color: white;
    }
    /* Articles */
    .article {
        background-color: white;
    }
    .article-7 .article-image {
        background-image: url("http://estheraarts.nl/wp-content/uploads/2015/03/NYTimesSundayReview_Education_EstherAarts_800x686.jpg");
    }
    .article-8 .article-image {
        background-image: url("http://www.illustrationdaily.com/upload/joey_guidone_5_12_13_2016_09_48_37.jpg");
    }
    .article-9 .article-image {
        background-image: url("http://weandthecolor.com/wp-content/uploads/2015/02/Editorial-illustration-by-Riki-Blanco-for-an-article-about-self-esteem-Peso-Perfecto-Magazine-2012-600x794.jpg");
    }
    .article-10 .article-image {
        background-image: url("https://i.pinimg.com/736x/89/43/fc/8943fc79818605c32bc1ebceaf54161d.jpg");
    }
    .article-11 .article-image {
        background-image: url("http://www.valerieoualid.com/artistes/gaetan_heuze/VO_gaetan_heuze_phone-e506a.jpeg");
    }
    .article-12 .article-image {
        background-image: url("https://i.pinimg.com/736x/15/08/f7/1508f7e8de142fe8e5a7be02e23207f8--design-illustrations-illustration-art.jpg");
    }
    .footer {
        margin-top: 100px;
    }
}


/* Medium screens */

@media only screen and (min-width: 768px) {
    .article {
        grid-column: span 6;
    }
    /* Recommendations */
    .category-recommendation-section .layer-1 {
        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    }
    .category-recommendation-section .layer-2 {
        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
        padding: 50px 20px 100px;
    }
    .category-recommendations {
        grid-column: span 12;
        flex-wrap: nowrap;
        border: 10px var(--basis_red) solid;
        margin: 20px 0px;
        padding-bottom: 50px;
    }
    .category-recommendations-header h4 {
        font-size: 48px;
    }
    .category-recommendations-text {
        margin-left: 20px;
        margin-top: 0px;
    }
    .category-recommendations-image {
        margin-left: 30px;
        margin-top: -10px;
    }
    .category-recommendations-background {
        background-color: var(--basis_red);
        margin-top: 10px;
        margin-left: 10px;
    }
}


/* iPad Pro screens */

@media only screen and (min-width: 1024px) {
    .article {
        grid-column: span 4;
    }
}


/* Large screens */

@media only screen and (min-width: 1440px) {
    /* Recommendations */
    .category-recommendations {
        grid-column: span 4;
        flex-wrap: wrap;
        margin: 0px 20px;
    }
    .category-recommendations-text {
        margin: 50px 0px 0px;
    }
}


/* Super Large screens */

@media only screen and (min-width: 2560px) {
    .article-image {
        height: 480px;
    }
}
