.article-image,
.article-container-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-4 .article-image {
    background-image: url(../img/beer.jpg);
}

.article-7 .article-container-image {
    background-image: url(../img/friends.jpg);
}

.most-read-article1 .article-container-image {
    background-image: url(../img/sugar_conspiracy/sugar_conspiracy.jpg);
    background-position: left 70%;
}

.most-read-article2 .article-container-image {
    background-image: url(../img/smartphones/smartphones1.jpg);
}
