html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    --basis_yellow: rgb(253, 213, 82);
    --basis_teal: rgb(106, 182, 180);
    --basis_red: rgb(242, 99, 103);
    --basis_blue: rgb(38, 85, 196);
    --basis_grey: rgb(96, 104, 115);
    --basis_green: rgb(163, 211, 156);
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-style: italic;
}


/* Mobile screens */

@media only screen and (min-width: 320px) {
    h2 {
        font-size: 28px;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
    }
    h3 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .most-read h4 {
        margin: 10px 0px 0px;
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .container-full,
    .container-margin,
    .container-layer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .container-layer {
        align-items: center;
        margin: 50px 0px;
    }
    .header-full {
        margin: 50px 20px 20px;
        grid-column: span 12;
    }
    .article,
    .article-container {
        grid-column: span 12;
        /*        height: 350px;*/
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        width: 100%;
        background-color: black;
        color: white;
        /*        height: 70%;*/
        height: 200px;
    }
    .article-container-image {
        position: relative;
        z-index: 1;
    }
    .most-read .article-container-image {
        height: 200px;
        margin-top: 40px;
    }
    .article-container-article {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    p.article-category {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 12px;
        margin: 16px 0px 8px;
    }
    p.article-author {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 300i;
        font-size: 12px;
        color: grey;
        margin-bottom: 8px;
    }
    a.category-money,
    a.category-body,
    a.category-culture,
    a.category-mind,
    a.category-science {
        transition: .5s;
        text-decoration: none;
    }
    a.category-money div,
    a.category-body div,
    a.category-culture div,
    a.category-mind div,
    a.category-science div {
        border-bottom: 0px;
        transition: 0.5s;
    }
    a.category-money:hover,
    a.category-body:hover,
    a.category-culture:hover,
    a.category-mind:hover,
    a.category-science:hover {
        text-decoration: underline;
    }
    a.category-culture div:hover {
        border-bottom: 12px var(--basis_red) solid;
        transition: border-bottom .5s;
    }
    a.category-culture {
        color: var(--basis_red);
    }
    a.category-money div:hover {
        border-bottom: 12px var(--basis_yellow) solid;
        transition: border-bottom .5s;
    }
    a.category-money {
        color: var(--basis_yellow);
    }
    a.category-body div:hover {
        border-bottom: 12px var(--basis_green) solid;
        transition: border-bottom .5s;
    }
    a.category-body {
        color: var(--basis_green);
    }
    a.category-science div:hover {
        border-bottom: 12px var(--basis_blue) solid;
        transition: border-bottom .5s;
    }
    a.category-science {
        color: var(--basis_blue);
    }
    a.category-mind div:hover {
        border-bottom: 12px var(--basis_teal) solid;
        transition: border-bottom .5s;
    }
    a.category-mind {
        color: var(--basis_teal);
    }
    /*Featured Article 1*/
    .feat-article-1 {
        background: url(../img/sugar_conspiracy/sugar1.png) center no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 120px;
    }
    .feat-article-1-text {
        background-color: rgba(255, 200, 200, 0.7);
        padding: 40px 5%;
        bottom: -120px;
        position: relative;
        max-width: 100%;
    }
    /*Top Section*/
    .article-1 {
        /*        background-color: orange;*/
    }
    .article-2 {
        /*        background-color: yellow;*/
    }
    .article-3 {
        /*        background-color: lawngreen;*/
    }
    .article-4 {
        /*        background-color: cadetblue;*/
    }
    .most-read {
        grid-column: span 12;
        height: auto;
        margin: 0px 20px;
        /*        padding-left: 100px;*/
        background-color: whitesmoke;
        border-top: 12px black solid;
    }
    .most-read-rank {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 110px;
        font-weight: 900;
        margin-left: -50px;
        margin-bottom: -90px;
        color: grey;
    }
    .most-read .article-container-image {
        width: 100%;
        height: 100px;
    }
    /*Most Recent Articles*/
    .article-6 {
        background-color: pink;
    }
    /*Featured Article 2*/
    .layer-1 {
        height: 500px;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 1;
        margin-top: 0px;
    }
    .feat-article-2-background {
        background-color: var(--basis_blue);
    }
    .layer-2 {
        height: 400px;
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 2;
        margin-top: 50px;
    }
    .feat-article-2-header {
        /*        grid-column: span 3;*/
        grid-column: 2 / span 7;
        grid-row: 1;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }
    .feat-article-2-header h4 a {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: white;
    }
    .feat-article-2-header p:not(.article-author) {
        font-family: "Libre Franklin", sans-serif;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    /*Section Articles*/
    .article-8 h3,
    .article-9 h3,
    .article-10 h3,
    .article-11 h3,
    .article-12 h3 {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 42px;
        /*        font-weight: 700;*/
    }
    .article-8 {
        border-top: 12px var(--basis_green) solid;
    }
    .article-9 {
        border-top: 12px var(--basis_teal) solid;
    }
    .article-10 {
        border-top: 12px var(--basis_blue) solid;
    }
    .article-11 {
        border-top: 12px var(--basis_red) solid;
    }
    .article-12 {
        border-top: 12px var(--basis_yellow) solid;
    }
    .article-13 {
        background-color: deeppink;
    }
    /*Featured Article 3*/
    .feat-article-3-background-1 {
        background-color: var(--basis_red);
        z-index: 1;
    }
    .feat-article-3-background-2 {
        background-color: black;
        z-index: 3;
    }
    .feat-article-3-header {
        color: white;
    }
    .feat-article-3-header {
        grid-column: span 2;
        grid-column-start: 10;
        grid-row: 1;
        z-index: 4;
    }
    /*Footer*/
    .footer {
        background-color: black;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        padding: 20px 20px;
    }
    .footer p {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 12px;
        margin: 10px 0px;
        color: white;
    }
    .footer-1 {
        /*        background-color: green;*/
        grid-column: span 12;
    }
    .footer-2 {
        /*        background-color: purple;*/
        grid-column: span 12;
    }
    .footer-3 {
        background-color: pink;
        grid-column: span 12;
    }
}


/* Medium screens */

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 22px;
    }
    .most-read h4 {
        font-size: 16px;
    }
    .container-margin {
        padding: 0px 30px;
    }
    .article,
    .article-container {
        /*        height: 400px;*/
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        height: 200px;
    }
    .container-layer {
        margin: 70px 0px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
        margin-bottom: 70px;
    }
    .feat-article-1-text {
        -webkit-clip-path: polygon(0 0, 90% 15%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 90% 15%, 100% 90%, 0% 100%);
        padding: 60px;
        padding-right: 100px;
        padding-left: 4%;
        bottom: -30px;
        max-width: 80%;
    }
    .feat-article-2-header {
        grid-column: 2 / span 6;
        padding: 30px;
    }
    .feat-article-2-header h4 a {
        font-size: 34px;
    }
    .feat-article-2-header p:not(.article-author) {
        font-size: 15px;
    }
    /*Top Section*/
    .article-1 {
        grid-column: span 7;
        order: 1;
        height: 400px;
    }
    .article-2 {
        grid-column: span 7;
        order: 3;
    }
    .article-3 {
        grid-column: span 7;
        order: 4;
        height: auto;
    }
    .article-4 {
        grid-column: span 7;
        order: 5;
    }
    .most-read {
        grid-column: 8/13;
        grid-row: span 5;
        height: auto;
        order: 2;
    }
    .most-read .article-container-image {
        width: 80%;
    }
    /*Most Recent Articles*/
    .article-5 {
        grid-column: span 4;
    }
    .article-6 {
        grid-column: span 4;
    }
    .article-7 {
        grid-column: span 4;
    }
    /*Featured Article 2*/
    .layer-1 {
        height: 700px;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }
    .layer-2 {
        height: 600px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    }
    /*Section Articles*/
    .article-8,
    .article-9,
    .article-10,
    .article-11,
    .article-12,
    .article-13 {
        grid-column: span 6;
    }
    /*Featured Article 3*/
    /*
    .feat-article-3-background-1 {
        height: 700px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    }
    .feat-article-3-background-2 {
        height: 600px;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }
*/
    /*Footer*/
    .footer {
        height: 300px;
        padding: 50px 30px;
    }
    .footer-1 {
        grid-column: span 3;
    }
    .footer-2 {
        grid-column: span 3;
    }
    .footer-3 {
        grid-column: span 6;
    }
}


/* iPad Pro screens */

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 48px;
    }
    .container-margin {
        padding: 0px 50px;
    }
    .container-layer {
        margin: 100px 0px;
    }
    .article,
    .article-container {
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        height: 300px;
    }
    .article-1 .article-image {
        height: 400px;
    }
    /*Top Section*/
    .article-1 {
        grid-column: span 8;
        order: 1;
        height: 600px;
    }
    .article-2 {
        grid-column: span 4;
        order: 3;
    }
    .article-3 {
        grid-column: span 4;
        grid-row: span 2;
        order: 4;
        height: auto;
    }
    .article-4 {
        grid-column: span 4;
        order: 5;
    }
    /*Most Read*/
    .most-read {
        grid-column: 9/13;
        grid-row: span 3;
        height: auto;
        order: 2;
    }
    .most-read .article-container-image {
        width: 70%;
        height: 100px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
    }
    .feat-article-2-header {
        padding: 40px;
    }
    .feat-article-2-header h4 a {
        font-size: 40px;
    }
    .feat-article-2-header p:not(.article-author) {
        font-size: 18px;
    }
    /*Featured Article 2*/
    .layer-1 {
        height: 800px;
    }
    .layer-2 {
        height: 700px;
    }
    /*Section Articles*/
    .article-8,
    .article-9,
    .article-10,
    .article-11,
    .article-12,
    .article-13 {
        grid-column: span 4;
    }
    /*Footer*/
    .footer {
        padding: 60px 40px;
    }
}


/* Large screens */

@media only screen and (min-width: 1440px) {
    .container-margin {
        padding: 0px 100px;
    }
    .article,
    .article-container {
        padding: 30px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
        margin-bottom: 70px;
    }
    .feat-article-1-text {
        -webkit-clip-path: polygon(0 0, 95% 15%, 100% 95%, 0% 100%);
        clip-path: polygon(0 0, 95% 15%, 100% 95%, 0% 100%);
        padding: 60px;
        padding-left: 9%;
        bottom: -30px;
        max-width: 50%;
    }
    .feat-article-2-header {
        grid-column: 3 / span 3;
        padding: 50px;
    }
    .feat-article-2-header h4 a {
        font-weight: 700;
    }
    .article-1 .article-image {
        height: 400px;
    }
    /*Footer*/
    .footer {
        padding: 60px 100px;
    }
}


/* Super Large screens */

@media only screen and (min-width: 2560px) {
    .container-margin {
        padding: 0px 250px;
    }
    .article-image,
    .article-container-image {
        height: 400px;
    }
    .most-read .article-container-image {
        height: 200px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 1100px;
    }
    .feat-article-2-header h4 a {
        font-size: 60px;
    }
    .article-1 .article-image {
        height: 700px;
    }
    .layer-1 {
        height: 100vh;
    }
    .layer-2 {
        height: 100vh;
    }
}
