html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    --basis_yellow: rgb(253, 213, 82);
    --basis_green: rgb(106, 182, 180);
    --basis_red: rgb(242, 99, 103);
    --basis_blue: rgb(38, 85, 196);
    --basis_grey: rgb(96, 104, 115);
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-style: italic;
}


/* Mobile screens */

@media only screen and (min-width: 320px) {
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .most-read h4 {
        margin: 16px 0px 4px;
    }
    p {
        font-size: 14px;
    }
    .container-full,
    .container-margin,
    .container-layer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .container-layer {
        align-items: center;
        margin: 50px 0px;
    }
    .header-full {
        margin: 120px 0px 20px;
        grid-column: span 12;
    }
    .article,
    .article-container {
        grid-column: span 12;
        /*        height: 350px;*/
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        width: 100%;
        background-color: black;
        color: white;
        /*        height: 70%;*/
        height: 200px;
    }
    .article-container-image {
        position: relative;
        z-index: 1;
    }
    .most-read .article-container-image {
        height: 200px;
    }
    .article-container-article {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    p.article-category {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 12px;
        margin: 16px 0px 8px;
    }
    p.article-author {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 300i;
        font-size: 12px;
        color: grey;
        margin-bottom: 8px;
    }
    /*Featured Article 1*/
    .feat-article-1 {
        background: url(../img/sugar_conspiracy/sugar1.png) center no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 120px;
    }
    .feat-article-1-text {
        background-color: rgba(255, 200, 200, 0.7);
        padding: 40px 5%;
        bottom: -120px;
        position: relative;
        max-width: 100%;
    }
    /*Top Section*/
    .article-1 {
        /*        background-color: orange;*/
    }
    .article-2 {
        background-color: yellow;
    }
    .article-3 {
        background-color: lawngreen;
    }
    .article-4 {
        /*        background-color: cadetblue;*/
    }
    .most-read {
        /*        background-color: rgba(100, 200, 255, 0.5);*/
        background-color: var(--basis_yellow);
        grid-column: span 12;
        height: auto;
        padding-left: 50px;
    }
    .most-read-rank {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 110px;
        font-weight: 900;
        margin-left: -50px;
        margin-bottom: -90px;
        color: red;
    }
    /*Most Recent Articles*/
    .article-5 {
        background-color: purple;
    }
    .article-6 {
        background-color: pink;
    }
    .article-7 {
        /*        background-color: deeppink;*/
    }
    /*Featured Article 2*/
    .feat-article-2-background {
        background-color: var(--basis_blue);
        height: 500px;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 1;
    }
    .feat-article-2-image-background {
        background: url(../img/sugar_conspiracy/sugar_conspiracy.jpg) center no-repeat;
        background-size: cover;
        height: 400px;
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 3;
        margin-top: 50px;
    }
    .feat-article-2-header {
        grid-column: span 2;
        grid-column-start: 10;
        grid-row: 1;
        z-index: 20;
    }
    /*Section Articles*/
    .article-8 {
        background-color: yellow;
    }
    .article-9 {
        background-color: lawngreen;
    }
    .article-10 {
        background-color: cadetblue;
    }
    .article-11 {
        background-color: purple;
    }
    .article-12 {
        background-color: pink;
    }
    .article-13 {
        background-color: deeppink;
    }
    /*Featured Article 3*/
    .feat-article-3-background-1 {
        background-color: var(--basis_red);
        height: 500px;
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 1;
        margin-top: 50px;
    }
    .feat-article-3-background-2 {
        background-color: var(--basis_yellow);
        height: 400px;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        grid-column: span12;
        grid-column-start: 1;
        grid-row: 1;
        z-index: 2;
    }
    .feat-article-3-header {
        grid-column: span 2;
        grid-column-start: 10;
        grid-row: 1;
        z-index: 3;
    }
    /*Footer*/
    .footer {
        background-color: var(--basis_blue);
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        padding: 20px 20px;
    }
    .footer p {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 12px;
        margin: 10px 0px;
    }
    .footer-1 {
        background-color: green;
        grid-column: span 12;
    }
    .footer-2 {
        background-color: purple;
        grid-column: span 12;
    }
    .footer-3 {
        background-color: pink;
        grid-column: span 12;
    }
}


/* Medium screens */

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 22px;
    }
    .container-margin {
        padding: 0px 30px;
    }
    .article,
    .article-container {
        /*        height: 400px;*/
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        height: 250px;
    }
    .container-layer {
        margin: 70px 0px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
        margin-bottom: 70px;
    }
    .feat-article-1-text {
        -webkit-clip-path: polygon(0 0, 90% 15%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 90% 15%, 100% 90%, 0% 100%);
        padding: 60px;
        padding-right: 100px;
        padding-left: 4%;
        bottom: -30px;
        max-width: 80%;
    }
    /*Top Section*/
    .article-1 {
        grid-column: span 8;
        order: 1;
        height: 600px;
    }
    .article-2 {
        grid-column: span 4;
        order: 3;
    }
    .article-3 {
        grid-column: span 4;
        grid-row: span 2;
        order: 4;
        height: auto;
    }
    .article-4 {
        grid-column: span 4;
        order: 5;
    }
    .most-read {
        grid-column: 9/13;
        grid-row: span 3;
        height: auto;
        order: 2;
        padding-left: 40px;
    }
    /*Most Recent Articles*/
    .article-5 {
        grid-column: span 4;
    }
    .article-6 {
        grid-column: span 4;
    }
    .article-7 {
        grid-column: span 4;
    }
    /*Featured Article 2*/
    .feat-article-2-background {
        height: 700px;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }
    .feat-article-2-image-background {
        height: 600px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    }
    /*Section Articles*/
    .article-8 {
        grid-column: span 4;
    }
    .article-9 {
        grid-column: span 4;
    }
    .article-10 {
        grid-column: span 4;
    }
    .article-11 {
        grid-column: span 4;
    }
    .article-12 {
        grid-column: span 4;
    }
    .article-13 {
        grid-column: span 4;
    }
    /*Featured Article 3*/
    .feat-article-3-background-1 {
        height: 700px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    }
    .feat-article-3-background-2 {
        height: 600px;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }
    /*Footer*/
    .footer {
        background-color: var(--basis_blue);
        height: 300px;
        padding: 50px 30px;
    }
    .footer-1 {
        grid-column: span 3;
    }
    .footer-2 {
        grid-column: span 3;
    }
    .footer-3 {
        grid-column: span 6;
    }
}


/* iPad Pro screens */

@media only screen and (min-width: 1024px) {
    .container-margin {
        padding: 0px 40px;
    }
    .container-layer {
        margin: 100px 0px;
    }
    .article,
    .article-container {
        padding: 20px;
    }
    .article-image,
    .article-container-image {
        height: 300px;
    }
    .most-read {
        padding-left: 50px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
    }
    /*Featured Article 2*/
    .feat-article-2-background {
        height: 800px;
    }
    .feat-article-2-image-background {
        height: 700px;
    }
    /*Footer*/
    .footer {
        padding: 60px 40px;
    }
}


/* Large screens */

@media only screen and (min-width: 1400px) {
    .container-margin {
        padding: 0px 100px;
    }
    .article,
    .article-container {
        padding: 30px;
    }
    .most-read {
        padding-left: 60px;
    }
    /*Featured Article*/
    .feat-article-1 {
        height: 700px;
        margin-bottom: 70px;
    }
    .feat-article-1-text {
        -webkit-clip-path: polygon(0 0, 95% 15%, 100% 95%, 0% 100%);
        clip-path: polygon(0 0, 95% 15%, 100% 95%, 0% 100%);
        padding: 60px;
        padding-left: 9%;
        bottom: -30px;
        max-width: 50%;
    }
    /*Footer*/
    .footer {
        padding: 60px 100px;
    }
}


/* Super Large screens */

@media only screen and (min-width: 2000px) {}
