/* Mobile screens */

@media only screen and (min-width: 320px) {
    /* Progress Bar Styling */
    progress {
        color: var(--basis_red);
    }
    .flat::-webkit-progress-value {
        background-color: var(--basis_red);
    }
    .flat::-moz-progress-bar {
        background-color: var(--basis_red);
    }
    .progress-bar {
        background-color: var(--basis_red);
    }
    /* Hero */
    #feature3-hero {
        background-image: url(../img/insecure/insecure-1.jpg);
        height: 100%;
        background-position: 95%;
        display: flex;
        align-items: flex-end;
        margin-top: 80px;
    }
    .hero {
        margin-bottom: 10px;
    }
    .hero-text {
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px;
        bottom: -200px;
        width: 100%;
    }
    .hero-text h2 {
        color: var(--basis_red);
        font-family: "Patua One", sans-serif;
        font-size: 40px;
    }
    /* Makes room for title */
    .drop-cap {
        margin-top: 280px;
    }
    /* Dropcap */
    .drop-cap p:first-child:first-letter {
        color: var(--basis_red);
        float: left;
        font-family: 'Patua One', sans-serif;
        font-size: 80px;
        line-height: 40px;
        padding-top: 14px;
        padding-right: 16px;
        padding-left: 0px;
    }
    /*Pull Quotes*/
    .feature3-pull-quote {
        grid-column: 2 / 12;
    }
    .feature3-pull-quote p {
        font-size: 1.5em;
        font-family: 'Patua One', sans-serif;
        color: var(--basis_red);
    }
    /* Recommendations */
    .category-recommendation-section {
        /*        color: white;*/
    }
    .category-recommendation-section .layer-1 {
        background-color: var(--basis_red);
        z-index: 2;
        margin-top: 150px;
        padding: 70px 0px;
    }
    .category-recommendation-section .layer-2 {
        background-color: black;
        z-index: 1;
    }
    .category-recommendations-image-1 {
        background-image: url("https://images-na.ssl-images-amazon.com/images/I/51gL4txiRiL._SX322_BO1,204,203,200_.jpg");
    }
    .category-recommendations-image-2 {
        background-image: url("https://dg7kra6zb39sn.cloudfront.net/media/spotlight/page/poster-50932b1e-abf0-4f17-8e1a-357fb191953f.jpg");
    }
    .category-recommendations-image-3 {
        background-image: url("http://www.joblo.com/posters/images/full/moonlight-poster-lg.jpg");
    }
    .feature-img {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / 13;
    }
    .feature3-img1 {
        background-image: url(../img/insecure/insecure-2.jpg);
        background-position: center;
        height: 35vh;
    }
    .feature3-img2 {
        background-image: url(../img/insecure/insecure-3.jpg);
        background-position: center;
        height: 35vh;
    }
    .feature3-img3 {
        background-image: url(../img/insecure/insecure-4.jpg);
        background-position: 80%;
        height: 50vh;
    }
}


/* Medium screens */

@media only screen and (min-width: 768px) and (orientation:portrait) {
    .hero-text {
        position: relative;
        bottom: 0px;
        padding: 40px 60px;
        margin-bottom: 30px;
        width: 70%;
    }
    .hero-text h2 {
        font-size: 60px;
    }
    .drop-cap {
        margin-top: 30px;
    }
    /* Dropcap */
    .drop-cap p:first-child:first-letter {
        font-size: 90px;
        line-height: 60px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 0px;
    }
    /* Hero */
    #feature3-hero {
        background-position: 80%;
        margin-top: 0px;
    }
    /*Pull Quotes*/
    .feature3-pull-quote {
        grid-column: 3 / 10;
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 768px) and (orientation:landscape) {
    /* Hero */
    #feature3-hero {
        margin-top: 0px;
    }
    .hero-text {
        position: relative;
        bottom: 0px;
        padding: 40px 60px;
        margin-bottom: 30px;
        width: 70%;
    }
    .hero-text h2 {
        font-size: 60px;
    }
    /* Dropcap */
    .drop-cap {
        margin-top: 40px;
    }
    .drop-cap p:first-child:first-letter {
        font-size: 90px;
        line-height: 60px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 0px;
    }
    /*Pull Quotes*/
    .feature3-pull-quote {
        grid-column: 3 / 10;
        font-size: 1.25em;
    }
    /* Images */
    .feature3-img1 {
        height: 50vh;
    }
    .feature3-img2 {
        height: 50vh;
    }
    .feature3-img3 {
        height: 90vh;
    }
}


/* iPad Pro screens */

@media only screen and (min-width: 1024px) and (orientation:portrait) {
    .hero-text {
        margin-bottom: 80px;
        width: 50%;
    }
    .hero-text h2 {
        font-size: 60px;
    }
    /* Hero */
    #feature3-hero {
        background-position: 75%;
    }
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
    .hero-text {
        margin-bottom: 80px;
        width: 50%;
    }
    .hero-text h2 {
        font-size: 60px;
    }
    /* Images */
    .feature3-img1 {
        height: 65vh;
    }
    .feature3-img2 {
        height: 65vh;
    }
    .feature3-img3 {
        height: 90vh;
    }
}


/* Large screens */

@media only screen and (min-width: 1440px) {
    .hero-text {
        padding: 50px 140px;
        width: 50%;
    }
    .hero-text h2 {
        font-size: 70px;
    }
    /* Images */
    .feature3-img1 {
        height: 75vh;
    }
    .feature3-img2 {
        height: 75vh;
    }
    .feature3-img3 {
        height: 90vh;
    }
    /* Image Hover Effects */
    #feature3-hero,
    .feature-img {
        filter: saturate(0.0);
        transition: 0.75s;
    }
    #feature3-hero:hover,
    .feature-img:hover {
        filter: saturate(1.0);
        transition: 0.75s;
    }
    /*Pull Quotes*/
    .feature3-pull-quote {
        grid-column: 3 / 9;
        font-size: 1.5em;
    }
}


/* Super Large screens */

@media only screen and (min-width: 2000px) {}
