/* Mobile screens */

@media only screen and (min-width: 320px) and (max-width: 991px) {
    #history {
        padding: 0px;
    }
}


/* Small screens */

@media only screen and (min-width: 1024px) {
    .history_summary {
        width: 70%;
        padding: 60px 0px 0px 60px !important;
    }
    .history_summary p {
        font-size: 22px;
    }
    .history_timeline {
        margin: 100px 0px;
        height: 50vh;
    }
    #now h2 {
        position: absolute;
        top: -180px;
        font-size: 64px;
        right: 20px;
    }
    .support_profile {
        padding: 35px;
    }
}

@media only screen and (min-width: 1224px) {
    .history_summary {
        width: 70%;
        padding: 80px 0px 0px 140px !important;
    }
    .history_summary p {
        font-size: 26px;
    }
    .history_timeline {
        height: 70vh;
    }
    .support_profile {
        padding: 50px;
    }
}


/* parallax */


/* all layers */

.parallax-bg div {
    display: flex;
    justify-content: center;
    /*    align-items: center;*/
}

div#parallax-bg-3 div div,
div#parallax-bg-2 div div,
div#parallax-bg-1 div div {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
    height: 400vh;
}

div#parallax-bg-3,
div#parallax-bg-2,
div#parallax-bg-1 {
    position: relative;
    width: 100%;
}

div#bg-3-1,
div#bg-2-1,
div#bg-1-1 {
    background: url("../img/white_guy.png");
    background-size: contain;
}

div#bg-3-1,
div#bg-2-1 {
    width: 15%;
}

div#bg-1-1 {
    width: 20%;
}


/* background*/

div#parallax-bg-1 {
    z-index: 503;
}

div#parallax-bg-1 div:nth-child(2) {
    top: 50vh;
    left: 10vw;
}

div#parallax-bg-1 div:nth-child(3) {
    top: -50vh;
}


/*middle layer*/

div#parallax-bg-2 {
    z-index: 502;
}

div#parallax-bg-2 div:nth-child(2) {
    top: 50vh;
}

div#parallax-bg-2 div:nth-child(3) {
    top: -25vh;
}

div#parallax-bg-2 div:nth-child(4) {
    top: 25vh;
}


/* foreground */

div#parallax-bg-3 {
    z-index: 501;
}

div#parallax-bg-3 div:nth-child(2) {
    top: 100vh;
}

div#parallax-bg-3 div:nth-child(3) {
    top: 75vh;
}

div#parallax-bg-3 div:nth-child(4) {
    top: 50vh;
}

div#parallax-bg-3 div:nth-child(5) {
    top: 100vh;
}

div#parallax-bg-3 div:nth-child(6) {
    top: 50vh;
}


/*****************************************/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    list-style: none;
}


/*** Meklit ***/

.nav {
    position: relative;
    width: 10em;
}

.nav__item {
    line-height: 1.2;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    color: currentColor;
    border: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav__item:focus {
    outline: none;
}

#Meklit {
    position: fixed;
    z-index: 50;
}

.nav--meklit {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: stretch;
    align-content: stretch;
    height: 100vh;
    margin: 0;
}

.nav--meklit .nav__item {
    -webkit-flex: 1;
    flex: 1;
    width: 10em;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.nav--meklit .nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #141417;
    -webkit-transform: scale3d(0.15, 1, 1);
    transform: scale3d(0.15, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nav--meklit .nav__item:nth-child(odd)::before {
    background: #0a0a0c;
}

.nav--meklit .nav__item:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


/*new*/

.nav--meklit .nav__item:hover .nav__item-title span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/**/

.section#Meklit .nav--meklit .nav__item--current::before {
    background: #ff4d3b;
    color: black;
}

.nav--meklit a {
    height: 20%;
    text-decoration: none;
    color: white;
}

.nav--meklit .nav__item-title {
    font-size: 2em;
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    /*
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
*/
}

.nav--meklit .nav__item-title span {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    display: block;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.section#Meklit {
    background: #27272b;
    color: #ff4d3b;
    min-height: 510px;
}

#nav4 {
    display: inline-block;
}


/* Move it (define the animation) */

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 48px;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container-fluid {
    padding: 0px;
    overflow: hidden;
}

.container-fluid.falling {
    background-color: black;
}

.row {
    margin: 0px;
}

.section {
    position: relative;
}

.section .highlight {
    background-color: #FFD000;
}

#history,
#now,
#support {
    padding: 50px;
}


/* HEADER */

.header {
    color: black;
    overflow: hidden;
    height: 100vh;
}

.header_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 208, 0, 0.6), rgba(255, 208, 0, 0.6)), url(../img/protest.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 125%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    /*    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header_text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

.header_text h1 {
    margin: 0px;
    font-size: 9.5vw;
}

#intro {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
    /*    padding: 0px 40px;*/
}

#intro p {
    font-size: 6vw;
    font-family: 'Teko', sans-serif;
    margin-bottom: 80px;
    color: white;
}

.questions {
    height: 200vh;
}

.questions div {
    margin: 190px 60px;
    text-align: center;
}


/* YELLOW */

.yellow {
    background-image: url("../img/yellow.svg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin-left: 0px;
    margin-right: 0px;
}

.intro_yellow,
.yellow_history {
    background-color: black;
}

.white_guys {
    padding-top: 900px;
    height: 400vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}


/*
.white_guys div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}
*/

.yellow .whiteguy1 {
    width: 10%;
}

.yellow .whiteguy2 {
    width: 15%;
}

.yellow .whiteguy3 {
    width: 13%;
}

.yellow .whiteguy4 {
    width: 20%;
}

.yellow .whiteguy5 {
    width: 20%;
}


/* The Asian-American Fight for Cultural Citizenship */

#title_container {
    height: 300vh;
}

#title {
    background-color: #FFD000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title div {
    font-family: 'Teko', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0px;
    color: black;
    padding: 0px;
}

.title_box1,
.title_box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_box1 h2,
.title_box3 h2 {
    font-size: 96px;
}

.title_box2 {
    background-color: black;
    height: 300px;
}

.title_box2 h2 {
    text-transform: uppercase;
    color: #FFD000;
    font-size: 200px;
}

.title_box3 {
    background-color: #FFD000;
    height: 320px;
}


/* HISTORY */

#history_title {
    height: 25vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    margin-right: 40px;
}

#history_title h2 {
    text-align: right;
    font-size: 200px;
}

#history {
    margin-top: 20px;
    background-color: white;
}

.year {
    font-size: 100px;
    color: #FFD000;
}

.history_summary {
    color: #333333;
}

.history_summary p {
    font-weight: 500;
    text-indent: -2em;
}

.history_summary span {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
}

.history1,
.history2,
.history3,
.history4,
.history5 {
    height: 83vh;
}

.history1 {
    background: linear-gradient(rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.2)), url("http://www.oldpicz.com/picz/2016/04/California-Gold-Rush-1848-12.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, cover;
    background-position: center;
}

.history2 {
    background: linear-gradient(rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.2)), url("https://s-media-cache-ak0.pinimg.com/564x/f8/e1/7e/f8e17ef3aed21d9332e87a6a6e2091c6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, cover;
    background-position: center;
}

.history3 {
    background: linear-gradient(rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.2)), url("http://i.vimeocdn.com/video/444419420_1280x720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, cover;
    background-position: center;
}

.history_box {
    padding-top: 100px;
}

#history h3 {
    font-family: 'Teko', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 10px;
    left: 20px;
    line-height: 44px;
    z-index: 100;
}

.history_box span.highlight {
    padding-left: 10px;
    padding-right: 10px;
}

.history_timeline img {
    position: absolute;
    max-width: 30%;
    min-width: 24%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.history_timeline img:hover {
    transform: scale(1.1);
    z-index: 15;
}

.history_timeline h5 {
    z-index: 20;
}

.history_timeline h5 {
    font-family: 'Teko', sans-serif;
    font-size: 5vw;
    position: absolute;
    color: #FFD000;
}

.timeline_container {
    position: relative;
}

.timeline_caption {
    position: absolute;
    height: 100%;
    width: 100%;
}

.timeline1 .timeline_box:nth-child(1) img {
    left: 5vw;
    top: 5vh;
}

.timeline1 .timeline_box:nth-child(1) h5 {
    left: 5vw;
}

.timeline1 .timeline_box:nth-child(2) img {
    left: 30vw;
    top: 25vh;
}

.timeline1 .timeline_box:nth-child(2) h5 {
    left: 30vw;
    top: 20vh;
}

.timeline1 .timeline_box:nth-child(3) img {
    right: 15vw;
    top: 5vh;
}

.timeline1 .timeline_box:nth-child(3) h5 {
    right: 15vw;
}

.timeline1 .timeline_box:nth-child(4) img {
    right: 5vw;
    top: 35vh;
}

.timeline1 .timeline_box:nth-child(4) h5 {
    right: 5vw;
    top: 30vh;
}


/* timeline2 */

.timeline2 img:nth-child(1) {
    right: 20vw;
    top: 10vh;
}

.timeline2 img:nth-child(2) {
    left: 20vw;
}

.timeline2 h5 {
    left: 45vw;
}


/* timeline 3 */

.timeline3 img:nth-child(1) {
    left: 15vw;
    top: 25vh;
}

.timeline3 img:nth-child(2) {
    left: 30vw;
    top: 5vh;
}

.timeline3 img:nth-child(3) {
    right: 15vw;
    top: 20vh;
}

.timeline3 h5:nth-child(4) {
    left: 15vw;
    top: 20vh;
}

.timeline3 h5:nth-child(5) {
    left: 30vw;
}

.timeline3 h5:nth-child(6) {
    right: 15vw;
    top: 15vh;
}


/* timeline 4 */

.timeline4 img:nth-child(1) {
    left: 20vw;
    top: 10vh;
}

.timeline4 img:nth-child(2) {
    left: 40vw;
}

.timeline4 img:nth-child(3) {
    top: 30vh;
    right: 15vw;
}

.timeline4 h5:nth-child(4) {
    left: 20vw;
    top: 5vh;
}

.timeline4 h5:nth-child(5) {
    left: 40vw;
    top: -5vh;
}

.timeline4 h5:nth-child(6) {
    right: 15vw;
    top: 25vh;
}


/* STEREOTYPES AND PERCEPTIONS IN THE MEDIA NOW */

#now {
    background-color: #FFD000;
    margin-top: 100px;
    padding-top: 100px;
}

#now h2 {
    position: absolute;
    top: -180px;
    font-size: 124px;
    right: 20px;
}

#now h3,
#support h3 {
    font-weight: 400;
    width: 60vw;
}

#stereotype_grid {
    margin-top: 60px;
    margin-bottom: 100px;
    overflow: hidden;
}

#stereotype_grid img {
    position: absolute;
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.stereotype {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 33%;
    display: flex;
    justify-content: center;
}

.stereotype .info {
    position: absolute;
    top: 0;
    padding: 10%;
    background-color: #FFD000;
    height: 0px;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.stereotype h4 {
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(http://www.cruzine.com/wp-content/uploads/2012/04/005-free-abstract-wallpapers.jpg);
}

.stereotype:hover img {
    transform: scale(1.1);
}

.info small,
.info a {
    color: #555555;
}

.info a {
    font-style: italic;
}

.stereotype:hover .info {
    opacity: .75;
    height: 100%;
}


/* QUOTES & FACTS SECTION */

.quote_box {
    /*    margin-top: 80px;*/
    height: 800vh;
}

.quote_speaker img {
    max-width: 100%;
}

.quote {
    padding: 20px;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.quote p {
    font-family: 'Teko', sans-serif;
    font-size: 56px;
}


/*test*/

.facts_left {
    position: absolute;
    top: 0;
    left: 0;
    height: 400vh;
}

.complain,
.fact,
.something,
.response3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.complain {
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    color: red;
}

.fact {
    height: 100vh;
    background-color: white;
    width: 100%;
    color: black;
    text-align: left;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p.fact_p {
    font-family: 'Teko', sans-serif;
    font-size: 54px;
    line-height: 48px;
    /*
    font-size: 42px;
    line-height: 42px;
*/
    font-weight: 500;
}

p.fact_p span {
    color: red;
    font-weight: 500;
}

p.attribution {
    font-family: 'Teko', sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: right;
    color: #999999;
}

.attribution span {
    font-weight: 400;
}

.response {
    position: absolute;
    top: 0;
    right: 0;
    height: 900vh;
    background: black;
    overflow: hidden;
    text-align: center;
}

.response1,
.response2,
.response3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response1,
.response2,
.response3,
.response5 {
    font-family: 'Teko', sans-serif;
    color: white;
}

.response1 div {
    min-width: 300px;
    width: 100px;
}

.response1 h3,
.response2 h3,
.response5 h3 {
    font-size: 4vw;
}

.response3 h3 {
    font-size: 4.5vw;
    font-weight: 400;
}

.response3 {
    padding-top: 100vh;
    color: white;
    width: 100%;
    text-align: center;
}


/* for divs that are multiple vh long */

.response5 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.response5 {
    height: 200vh;
}

.facts {
    padding-left: 10%;
    color: white;
}


/*
.svg_attempt {
    height: 3000px;
    overflow: hidden;
}

svg {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 480px;
    max-height: 340px;
}

.path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}
*/

.video_box {
    overflow: hidden;
    height: 100vh;
}

.video_box iframe {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.impact {
    background-color: white;
    /*    height: 450vh;*/
    padding-top: 200px;
    background-image: linear-gradient(rgba(255, 228, 109, 0.6), rgba(255, 228, 109, 0.6)), url("http://cdn3.i-scmp.com/sites/default/files/styles/2000x792/public/2016/11/03/lee_01oct16_fe_chin_44_vincent-chin-protest_1_hero.jpg?itok=u90NNhmi");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 70vh;
}

.impact div div {
    margin: 50vh 220px;
}

.impact p {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 6vw;
}


/*
.impact div div:nth-child(5) {
    background-color: black;
}

.impact div div:nth-child(5) p {
    font-size: 25vw;
    background-image: linear-gradient(rgba(255, 228, 109, 0.6), rgba(255, 228, 109, 0.6)), url("http://cdn3.i-scmp.com/sites/default/files/styles/2000x792/public/2016/11/03/lee_01oct16_fe_chin_44_vincent-chin-protest_1_hero.jpg?itok=u90NNhmi");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
*/

#support {
    background-color: #FFD000;
    padding-top: 80px;
}

#support h2 {
    position: absolute;
    top: -170px;
    font-size: 124px;
    right: 20px;
}

.support_profile {
    background-color: white;
    margin-top: 50px;
}

.support_profile a {
    color: black;
}

.support_profile h4,
.support_profile h5 {
    font-family: 'Teko', sans-serif;
}

.support_profile h4 {
    font-size: 84px;
    line-height: .8;
}

.support_profile h4 a,
.support_profile p a,
.resources_section li a {
    box-shadow: inset 0 0 0 0 #FFD000;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.support_profile h4 a:hover {
    box-shadow: inset 0 100px 0 0 #FFD000;
}

.support_profile h5 {
    font-size: 48px;
    color: grey;
}

.support_profile p {
    font-size: 18px;
}

.support_profile p a:hover {
    box-shadow: inset 0 24px 0 0 #FFD000;
}

.support_profile .col-sm-8 {
    padding-left: 5%;
    padding-right: 5%;
}

.support_profile img {
    max-width: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.resources_title {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.resources_title span {
    font-size: 24px;
    padding-left: 20px;
}

.resources h3 {
    font-size: 42px;
}

.resources a {
    text-decoration: none;
}

.resources_section {
    height: 100%;
    padding: 25px;
    padding-bottom: 30px;
}

.resources_section h4 {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
}

.resources_section ul {
    padding-left: 15px;
}

.resources_section li {
    padding-bottom: 10px;
    font-size: 16px;
}

.resources_section li a {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}

.resources_section li a:hover {
    box-shadow: inset 0 18px 0 0 #FFD000;
}

#collapseResource {
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    background-color: #FFD000;
    height: 200px;
}

.footer a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit p {
    text-align: center;
}

.backtotop {
    height: 40px;
    bottom: 0;
    position: absolute;
}

.top {
    background-color: black;
    color: white;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Large screens */

@media only screen and (min-width: 1824px) {
    .title_box1 h2,
    .title_box3 h2 {
        font-size: 5vw;
    }
    .title_box2 {
        height: 300px;
    }
    .title_box2 h2 {
        font-size: 9vw;
    }
    /* history */
    .history_summary {
        width: 50%;
    }
    .history_summary p {
        font-size: 32px;
    }
    .history_summary span {
        font-size: 58px;
    }
    /* timeline2 */
    .timeline2 img:nth-child(1) {
        right: 25vw;
    }
    .timeline2 img:nth-child(2) {
        left: 25vw;
    }
    .timeline3 {
        height: 80vh;
    }
    .timeline3 img:nth-child(3) {
        right: 20vw;
        top: 15vh;
    }
    .timeline3 h5:nth-child(6) {
        right: 20vw;
        top: 10vh;
    }
    /* stereotype */
    .stereotype .info {
        padding: 90px;
    }
    .stereotype .info h4 {
        font-size: 3.5vw;
    }
    .stereotype .info p {
        font-size: 22px;
    }
    .fact div {
        max-width: 70%;
    }
    .support_profile .col-sm-8 {
        padding-left: 7%;
        padding-right: 7%;
    }
    .support_profile p {
        font-size: 24px;
    }
}
