.header {
    color: black;
    overflow: hidden;
    height: 100vh;
}

.header_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.6), rgba(255, 255, 0, 0.6)), url(../img/protest.jpg);
    /*
    -webkit-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 125%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    /*    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header_text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

.header_text h1 {
    margin: 0px;
    font-size: 100px;
}

.section {
    padding: 30px;
}

.section:not(#hero) {
    min-height: 250px;
    border: 2px black solid;
    position: relative;
}

.section .no {
    background-color: yellow;
}

#hero {
    height: 100vh;
}

#hero p {
    font-size: 100px;
    font-family: 'Teko', sans-serif;
}

#yellow div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#yellow img {
    width: 20%;
    height: auto;
    /*
    animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
*/
}

.fixed_yellow #yellow {
    position: fixed;
}

.footer {
    background-color: yellow;
}

.footer a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    background-color: black;
    color: white;
    width: 20%;
    height: 30px;
    text-align: center;
}
